{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Catalogue {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/catalogue.css') }}">
{% endblock %}
{% block h1 %}Catalogue produit{% endblock %}
{% block content %}

<div class="wrapper">


 {% if produits %} {# {% if produits is not empty %} #}
 
        <div class="row d-flex flex-wrap content ">

            {% for produit in produits %}

                <div class="col-4 carte">
            
                    <a class ='lienFicheProduit' href="{{ path('fiche_produit', {'id' : produit.id}) }}"><img class ='photoProduit' src="{{ asset("img/photoProduitUpload/" ~  produit.getPhotoProduits.first() ) }}" alt="image du produit" style="width:100%"><p class="nomProduit">{{ produit.nom|capitalize }}</p></a>
            
                    
                
                </div>
                
            {% endfor %}

       


        </div>

    {% else %}{# si le tableau produits est vide #}
        <div class="col-12 d-flex w-100 mt-5 pt-5 mx-auto" style="width:100%">

        <h2 class=" col-6 text-center text-danger mt-3 fst-italic mx-auto pt-5 mt-5 ">Il n'y a aucun produit pour le moment</h2>
        </div>
        
</div>
        


    {% endif %}
  

{% endblock %}
