{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Catalogue {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/catalogue.css') }}">
{% endblock %}
{% block h1 %}Catalogue produit{% endblock %}
{% block content %}

<div class="wrapper">


 {% if produits %} {# {% if produits is not empty %} #}
 
        <div class="row d-flex flex-wrap content">

            {% for produit in produits %}

                <div class="col-4 carte">
                
                   

                    {% if produit.photoProduits %}
                    <a href="{{ path('fiche_produit', {'id' : produit.id}) }}"><img src="{{ asset("img/photoProduitUpload/" ~  produit.getPhotoProduits.first() ) }}" alt="image du produit" style="width:100%"> </a>
                    {% else %}
                        <img class="photo" src="{{ asset('img/ProduitUpload/photoDefault.jpg') }}" alt="">
                    {% endif %}
            
                    <p class="nomProduit">{{ produit.nom|capitalize }}</p>

                   
                
                
                </div>
                
            {% endfor %}

        </div>




    {% else %}{# si le tableau produits est vide #}
        

        <h4 class="text-center text-danger mt-3 fst-italic">Il n'y a aucun produit pour le moment</h4>


    {% endif %}

{% endblock %}
