{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| fiche produit
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/fiche_produit.css') }}">
{% endblock %}


{% block content %}
	<div class="wrapper col-12 d-flex flex-lg-row flex-column ">

		<div class="col-lg-6 col-12">

			<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					{% for photo in produit.photoProduits %}
					
						{% if photo.position ==1 %}
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ photo.position -1 }}" class="carousselIndiator active" aria-current="true" aria-label="Slide ~{{ photo.position}}"></button>
							
						{% else %}
						<button type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide-to="{{ photo.position -1 }}"   class="carousselIndicator" aria-label="Slide ~{{ photo.position}}"></button>
							
						{% endif %}
						
					{% endfor %}
				</div>
				<div class="carousel-inner">

					{% for photo in produit.photoProduits %}
						{% if photo.position == 1 %}

						<div class="carousel-item active">
							<img class="d-block w-100" src="{{ asset("img/photoProduitUpload/" ~  photo.nom ) }}" alt="slide "~{{ photo.position }}>
						</div>

						{% else %}
						<div class="carousel-item">
						<img class="d-block w-100" src="{{ asset("img/photoProduitUpload/" ~  photo.nom ) }}"  alt="slide "~{{ photo.position }}>
					</div>
						{% endif %}
						
					{% endfor %}
	
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		

		<div class=" col-lg-4 col-10 mx-auto d-flex flex-column justify-centent-start">
			<div  class="data_content">

				<div class="data d-flex flex-column align-items-center">
				
					   <nav aria-label="Breadcrumb" class="breadcrumb">
					<ul>
						<li><a href="{{ path('accueil') }}">ACCUEIL</a></li>
						<li><a href="{{ path('catalogue') }}"> PRODUITS</a></li>
						<li><a href="{{ path(produit.categorie|lower) }}"> {{ produit.categorie|upper }} </a></li>
						<li><span aria-current="page"> {{ produit.nom|upper}} </span></li>
					</ul>
				</nav>
					<p class='nom-produit'>{{  produit.nom|upper}}</p>
					<br>
		
					{% if is_granted('ROLE_REV') %}
					<p class="prix">{{ produit.prixRevHT}} € HT.   ( prix public conseillé :  {{ produit.prixPubTtc }} € TTC ) </p>
					{% else %}
					<p class="prix">{{ produit.prixPubTtc }} EUR</p>
						
					{% endif %}

					
				
					<br>
					<p class="description">{{ produit.description}}</p>
				
				</div>
					<br>
				<form action="{{ path('panier_ajouter') }}" method="post">

							
							<div class="col-12 d-flex  justify-content-start align-items-center">
									<div class='col-6 d-flex justify-content-start'>

										{% for couleur in couleurs %}										
											{% if produit.couleur == couleur %}

													<div class="outside d-flex justify-content-center align-items-center selected">
														<a  class='color' id ="{{ couleur|lower}}" href="#" ></a>
													</div>		
											{% else %}
													<div class="outside d-flex justify-content-center align-items-center ">	
													<a  class='color' id ="{{ couleur|lower}}" href="{{ path('fiche_produit',{'id': produit.id, 'couleurChange':couleur})}}" ></a>
													</div>
											{% endif %}
											
										{% endfor %}			

{# 
							
										 {% if produit.couleur =='Noir' %}
										 		<div class="outside d-flex justify-content-center align-items-center selected">
													<a  class='color' id="noir" href="{{ path('fiche_produit',{'id': produit.id, 'couleurChange':'Noir'})}}" ></a>
												</div>		
										{% else %}
												<div class="outside d-flex justify-content-center align-items-center">	
												<a  class='color' id="noir" href="{{ path('fiche_produit',{'id': produit.id, 'couleurChange':'Noir'})}}" ></a>
												</div>
										{% endif %}
										{% if produit.couleur =='Ecaille' %}
											<div class="outside d-flex justify-content-center align-items-center selected">
												<a class='color ' id="ecaille" href="{{ path('fiche_produit',{'id': produit.id, 'couleurChange':'Ecaille'})}}"></a>
												</div>
										{% else %}
												<div class="outside d-flex justify-content-center align-items-center">
												<a class='color' id="ecaille" href="{{ path('fiche_produit',{'id': produit.id, 'couleurChange':'Ecaille'})}}"></a>	
												</div>
										{% endif %}
										{% if produit.couleur =='Cristal' %}
											<div class="outside d-flex justify-content-center align-items-center selected">
												<a class='color ' id="cristal"  href="{{ path('fiche_produit',{'id': produit.id, 'couleurChange':'Cristal'})}}"></a>
												</div>		
										{% else %}
												<div class="outside d-flex justify-content-center align-items-center">
												<a class='color' id="cristal"href="{{ path('fiche_produit',{'id': produit.id, 'couleurChange':'Cristal'})}}"></a>	
												</div>		
										{% endif %}	  #}
									</div>
									<div class='col-6 d-flex justify-content-end align-items-center'>
										<label id="label_qty" class ='ml-2' for="qty">Quantité</label>
									
										<input id= "qty" type="number" name="qty" id="qty" min="1" max="10" step="1" value="1">
									</div>
							</div>
						<input type="hidden" name="id" value ="{{ produit.id }}">
						<button type="submit" class="col-12 btn my-2 ">AJOUTER AU PANIER</button>
				</form>
				<p class='details'>Détails</p>
				<div>
				</div>
					<div class='col-12 mt-2 mb-3 '>
						<div  class="col-12 d-flex justify-content-between detail"><p >Tailles</p><button class ="expand" onclick="expandTaille(this)" expand="+"><i class="far fa-caret-square-down"></i></button></div>

						<p id='tailles' class="d-none mx-auto detail">{{ produit.taille}}</p>
						<div class="separator"></div>
					</div>
					
			   <div class='col-12 mb-3'>
					<div  class="col-12 d-flex justify-content-between detail"><p>Matières</p><button class ="expand " onclick="expandMatiere(this)" expand="+"><i class="far fa-caret-square-down"></i></button></div>

					<p id='matieres' class="d-none mx-auto detail">{{ produit.matiere}}</p>
					<div class="separator"></div>
			   </div>
			   <div class='col-12 mb-3'>
					<div  class="col-12 d-flex justify-content-between detail"><p>Entretien</p><button class ="expand" onclick="expandEntretien(this)" expand="+"><i class="far fa-caret-square-down"></i></button></div>

					<p id='entretien' class="d-none mx-auto detail">{{ produit.entretien}}</p>
					<div class="separator"></div>
			   </div>
			</div>
		</div>


	</div>
	<textarea hidden class='photo2js' name="" id="" cols="30" rows="10">{{ photos }}</textarea>
{% endblock %}


{% block javascripts %}

	<script>// expension des div Taille, matière et entretien( code à réduire)
		function expandTaille(element){
			let expander = element.getAttribute('expand')
			let elt = document.querySelector('#tailles')

			if (expander == '+') {
				elt.setAttribute('class','d-block')
				element.setAttribute('expand','-')
				element.innerHTML = '<i class="far fa-caret-square-up"></i>'
			}else {
				elt.setAttribute('class','d-none')
				element.setAttribute('expand','+')
				element.innerHTML = '<i class="far fa-caret-square-down">'
			}
		}

		function expandMatiere(element){
			let expander = element.getAttribute('expand')
			let elt = document.querySelector('#matieres')

			if (expander == '+') {
				elt.setAttribute('class','d-block')
				element.setAttribute('expand','-')
				element.innerHTML = '<i class="far fa-caret-square-up"></i>'
			}else {
				elt.setAttribute('class','d-none')
				element.setAttribute('expand','+')
				element.innerHTML = '<i class="far fa-caret-square-down">'
			}
		}

		function expandEntretien(element){	
			let expander = element.getAttribute('expand')
			let elt = document.querySelector('#entretien')

			if (expander == '+') {
				elt.setAttribute('class','d-block')
				element.setAttribute('expand','-')
				element.innerHTML = '<i class="far fa-caret-square-up"></i>'
			}else {
				elt.setAttribute('class','d-none')
				element.setAttribute('expand','+')
				element.innerHTML = '<i class="far fa-caret-square-down">'
			}
		}
	</script>  
	<script>// bootstap caroussel
		$(document).ready(function () {
		$('.carousel').carousel({
		 interval: false,
		keyboad: true,
		touch:true
		})
		});
	</script>

	<script>// vignettes photos dans les indicateurs du caroussel
		let indicator =document. querySelector('.carousel-indicators')
		let indicators = indicator.childNodes
		let photos = JSON.parse(document.querySelector('.photo2js').value)
		let indicatorsArray= Array.from(indicators)
		let cheminPhoto = "{{ asset('img/photoProduitUpload/') }}"
		indicatorsArray.pop()

		for(i=0; i < indicatorsArray.length; i++ ){
			if(i%2 !== 0){
				var n=(i+1)/2
					if (2* n< (indicatorsArray.length+1)){	
							elt =indicatorsArray [i]
							elt.style.backgroundImage = 'url('+cheminPhoto+photos[n-1]+')'
					}
			}        
		}
	</script>

	<script>// récupére le produit de la couleur sélectionnée
		let ecaille = document.querySelector('#ecaille').parentNode
		let cristal = document.querySelector('#cristal').parentNode
		let noir = document.querySelector('#noir').parentNode

		ecaille.onclick = function(){
			ecaille.classList.add('selected')
			cristal.classList.remove('selected')
			noir.classList.remove('selected')
		}
		noir.onclick = function(){
			noir.classList.add('selected')
			ecaille.classList.remove('selected')
			cristal.classList.remove('selected')
		}
		cristal.onclick = function(){
			cristal.classList.add('selected')
			ecaille.classList.remove('selected')
			noir.classList.remove('selected')
		}
		</script>



{% endblock %}