{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Catalogue {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/catalogue.css') }}">
	<link rel="stylesheet" href="{{ asset('css/js-image-slider.css') }}">
{% endblock %}
{% block body %}

<div id="box">hello</div>
  
  <div class="col-12 d-flex content justify-content-end">
	
	<div class="col-6">
		<div >
                {% for photo in produit.photoProduits %}
                 <img src="{{ asset("img/photoProduitUpload/" ~ photo.nom ) }}" alt="" style="width:100%">
                {% endfor %}
		
		</div>
	</div>
	<div id= "separator" class="col-1 border-primary">pour voir</div>

	<div class=" col-5 d-flex justify-content-center align-items-start">
			<div class=" mt-5 mx-auto"> 
				<div>
					<p>Nom :
						{{ produit.nom }}</p>
				</div>
				<div>
					<p> Référence :
						{{ produit.ref }}</p>
				</div>
				<div>
					<p>Catégorie :
						{{produit.categorie}}</p>
					<p>forme:
						{{ produit.forme}}</p>
					<p>couleur:
						{{ produit.couleur}}</p>
					<p>prix:
						{{ produit.prixPubTtc}} €</p>
				
				</div>		
		</div>
  
	 </div>
 </div>
	

{% endblock %}
{% block javascripts %}{% endblock %}
