{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Catalogue {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/showcase.css') }}">
{% endblock %}
{% block h1 %}Catalogue produit{% endblock %}
{% block content %}

<div class="wrapper col-12  mx-auto">


 {% if produitsShowcase %}

            {% set nbShowcase = 0 %}
            {% for produit in produitsShowcase  %}
                    {% set nbShowcase = nbShowcase + 1 %}

                    {% if nbShowcase % 2 %}

                        <div class="col-12 d-flex justify-content-around showcaseImpair align-items-center">

                                    <div class="photo"> <a href="{{ path('fiche_produit', {'id' : produit.id}) }}"><img src="{{ asset("img/photoProduitUpload/" ~  produit.getPhotoProduits.first() ) }}" alt="image du produit" style="width:300px"> </a></div>
                                   <div class="nomProduit"> 
                                        <p>{{ produit.nom|capitalize }}</p>
                                        <br>
                                        <p>{{ produit.description}}</p>
                                        <br>
                                        <a class =" btn btn-light "href="{{ path('catalogue') }}">Collection complète</a>
                                   </div>
                                   
                        </div>

                     {% else %}
                      

                        <div class=" col-12 d-flex justify-content-around  align-items-center showcasePair">
                                 <div class="nomProduit"> 
                                    <p>{{ produit.nom|capitalize }}</p>
                                    <br>
                                    <p>{{ produit.description}}</p>
                                    <br>
                                    <a class =" btn btn-light "href="{{ path('catalogue') }}">Collection complète</a>
                                   </div>

                                 
                                   

                                 <div class="photo"> <a href="{{ path('fiche_produit', {'id' : produit.id}) }}"><img src="{{ asset("img/photoProduitUpload/" ~  produit.getPhotoProduits.first() ) }}" alt="image du produit" style="width:100%"> </a></div>
                            
                        </div>
                    {% endif %}
               
            {% endfor %}


        {% else %}{# si le tableau produits est vide #}
            <h4 class="text-center text-danger mt-3 fst-italic">Il n'y a aucun produit pour le moment</h4>
        {% endif %}
</div>

{% endblock %}
