{% extends "base.html.twig" %}
{% block title %}{{parent()}}| broadcast {% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/broadcast.css') }}">{% endblock %}
{% block h1 %}Braodcast {% endblock %}

{% block content %}


<div class="wrapper">
        <div class="col-12 d-flex justify-content-between" style="margin-top: 110px;">
                    <button id ="startrec" class="btn btn-secondary my-2 col-md-5">start broadcast</button>
                    <button id ="stoprec" class="btn btn-secondary  my-2 col-md-5">stop broadcast</button>
                </div>
                
                <div id ="manage_file" class ="col-md-12 d-flex justify-content-between d-none" >
                    <button id="save-to-disk" class="btn btn-secondary col-md-5 my-2">save to disk</button>
                    <button id="upload-to-server" class="btn btn-secondary col-md-5 my-2" >Upload to Server</button>      
                </div>
        </div>

         <div class="broadcast d-flex flex-column align-items-center"  >
            <div class="video  col-lg-6 col-12">
                <video class="col-12 mx-auto" playsinline autoplay></video>
            </div>
            
                <div class="messages col-lg-6 col-12 " ></div>
          
            <div class=" message col-lg-6 col-12 d-flex">
                <input class=" inputMessage col-10" placeholder="message.. taper sur ENTER ou click sur ENVOI.">
                <button id ="envoi" class = "btn btn-secondary col-2">envoi</button>
            </div>

        </div>
               

</div>




<textarea  hidden  name="" id="user2js" cols="30" rows="10"></textarea>
{% endblock %}

{% block javascripts %}

<script>
let user ={
    user_id : '{{ app.user.id }}',
    prenom : '{{ app.user.prenom }}',
    nom : '{{ app.user.nom }}',
    email : '{{ app.user.email }}'
}
 let userstr =  JSON.stringify(user);
  document.querySelector('#user2js').value = userstr


let videoHeight = document.getElementsByTagName(video).clientHeight
console.log (videoHeight)
document.querySelector('.messages').height = videoHeight

  
</script> 
<script src="https://inspiring-nash.185-13-64-120.plesk.page/node_modules/socket.io/client-dist/socket.io.js"></script> 
<script defer src="{{ asset('js/recortRTC.js') }}"></script>
<script defer src="{{ asset('js/broadcast.js') }}"></script>

{% endblock %}
