{% extends 'base.html.twig' %}

{% block title %}ODHUNE{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{  asset('css/accueil.css')  }}">{% endblock %}

{% block content %}


<h1>créateur lunette original artisan France </h1>
    <div class="wrapper col-12">
    <video class="background d-none video"  src ="" autoplay loop muted type="video/mp4"></video>

    <img class ='background image d-none ' src="" alt="">


    </div>
<div class="groupe">

    <div class="box_slogan col-12 d-flex">
        <div class="slogan mx-auto">DES LUNETTES OPTIQUES ET SOLAIRES FABRIQUÉES PAR DES PASSIONNÉS POUR DES PASSIONNÉS - CRÉATION ARTISANALE À LA MAIN EN NORMANDIE</div>
    </div>

    <div class="focusProduit">

        {% if produitsShowcase %}

            {% set nbShowcase = 0 %}
            {% for produit in produitsShowcase  %}
                    {% set nbShowcase = nbShowcase + 1 %}

                    {% if nbShowcase % 2 %}

                        <div class="col-12 d-flex flex-md-row flex-column showcaseImpair mx-auto mt-md-0 mt-3">

                                    <div class="col-md-4 col-12 photo mx-auto mt-md-3 mt-0"> <a href="{{ path('fiche_produit', {'id' : produit.id}) }}"><img src="{{ asset("img/photoProduitUpload/" ~  produit.getPhotoProduits.first() ) }}" alt="image du produit" style="width:100%"> </a></div>

                                   <div class="Produit col-md-6 col-12 d-flex flex-column justify-content-center align-items-center mx-auto px-2">
                                        {# <p class= "nomProduit mb-1">{{ produit.nom|upper }}</p> #}
                                        <p class= "description">{{ produit.description}}</p>
                                        <div class="col-12 my-3  mx-3 d-flex align-items-center">
                                       <div class="trait col-sm-8 col-6"></div>
                                            <a class =" col-sm-4 col-6 btn text-end " href="{{ path(produit.categorie|lower) }}">COLLECTION {{produit.categorie|upper}}</a>
                                        </div>
                                   </div>
                                   
                        </div>

                     {% else %}
                      

                        <div class=" col-12  d-flex flex-md-row flex-column showcasePair mx-auto  mt-md-0 mt-3">


                                <div class="Produit col-md-6 col-12 d-flex flex-column justify-content-center align-items-center  order-md-1 order-2 mx-auto px-2 mt-md-0 mt-3">
                                    <p class= "description">{{ produit.description}}</p>
                                    <div class="col-12 my-3 d-flex flex-row  justify-content-between align-items-center">
                                             <a class =" col-sm-4  col-6 btn text-start " href="{{ path(produit.categorie|lower) }}">COLLECTION {{produit.categorie|upper}}</a>
                                             <div class="trait col-sm-8 col-6"></div>
                                    </div>

                                    
                                   

                                 </div>
                                   

                                  <div class="col-md-4 col-12 photo order-md-2 order-1 mx-auto"> <a href="{{ path('fiche_produit', {'id' : produit.id}) }}"><img src="{{ asset("img/photoProduitUpload/" ~  produit.getPhotoProduits.first() ) }}" alt="image du produit" style="width:100%"> </a></div>
                            
                        </div>
                    {% endif %}
               
            {% endfor %}

        {% endif %}
    
        </div>
 </div>


{% endblock %}

{% block javascripts %}

<script>


let homeBackground = function(){
    let type = "{{type}}"
    let file ="{{file}}"
    let chemin = "{{asset('img/accueil/')}}"
    elementVideo = document.querySelector('.video')
    elementImage = document.querySelector('.image')

    if (window.matchMedia("(min-width:992px)").matches) {
    
            if (type) { //si  c'est une video 
            elementVideo.src = chemin+file
            elementImage.classList.add('d-none')
            elementVideo.classList.remove('d-none')

            } 
            else { //si c'est une image
            elementVideo.classList.add('d-none')
            elementImage.classList.remove('d-none')
            elementImage.src = chemin+file
            }
    
    } else { // si c'est une tablette ou un smartphone on chisi une ç

     let file ="Jeanne-Paul.jpg"
    elementVideo.classList.add('d-none')
    elementImage.classList.remove('d-none')
    elementImage.src = chemin+file
}

}

homeBackground()
window.onresize =function() {
    return  homeBackground()

}






</script>


{% endblock %}

