{% extends 'base.html.twig' %}

{% block title %}ODHUNE{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{  asset('css/accueil.css')  }}">{% endblock %}

{% block content %}
{# <img id="background_image">

<source src="{{ asset ('img/background/Paul-Jeanne-NB.jpeg') }}">

</img> #}


<h1>créateur lunette original artisan France </h1>
    <div class="wrapper">
        <div class="titre pt-5">O D H U N E</div>
        <div class="separator"></div>
        <h3> CRÉATEUR ARTISAN LUNETIER </h3>
        <div class="icon-wrapper">
                <a class="networks_icon" href="https://www.instagram.com/odhune/?hl=fr" target="_blank">
                <i class="fab fa-instagram fa-3x text-white"></i>
                </a>
            </div>
    </div>
    <div class="box_slogan col-12 d-flex">
        <p class="slogan mx-auto">DES LUNETTES FABRIQUEES PAR DES PASSIONNÉS POUR DES PASSIONNÉS</p>
    </div>

    <div class="focusProduit">

        {% if produitsShowcase %}

            {% set nbShowcase = 0 %}
            {% for produit in produitsShowcase  %}
                    {% set nbShowcase = nbShowcase + 1 %}

                    {% if nbShowcase % 2 %}

                        <div class="col-12  showcaseImpair">

                                    <div class="photo"> <a href="{{ path('fiche_produit', {'id' : produit.id}) }}"><img src="{{ asset("img/photoProduitUpload/" ~  produit.getPhotoProduits.first() ) }}" alt="image du produit" style="width:100%"> </a></div>
                                   <div class="nomProduit">
                                        <div class="focus">Focus Produit</div>
                                        <br>
                                        <p>{{ produit.nom|capitalize }}</p>
                                        <br>
                                        <p>{{ produit.description}}</p>
                                        <br>
                                        <a class =" btn btn-light "href="{{ path('catalogue') }}">Collection complète</a>
                                   </div>
                                   
                        </div>

                     {% else %}
                      

                        <div class=" col-12  align-items-center showcasePair">
                                 <div class="nomProduit">
                                    <div class="focus">Focus Produit</div>
                                    <br>
                                    <p>{{ produit.nom|capitalize }}</p>
                                    <br>
                                    <p>{{ produit.description}}</p>
                                    <br>
                                    <a class =" btn btn-light "href="{{ path('catalogue') }}">Collection complète</a>

                                 </div>
                                   

                                 <div class="photo"> <a href="{{ path('fiche_produit', {'id' : produit.id}) }}"><img src="{{ asset("img/photoProduitUpload/" ~  produit.getPhotoProduits.first() ) }}" alt="image du produit" style="width:100%"> </a></div>
                            
                        </div>
                    {% endif %}
               
            {% endfor %}

        {% endif %}
    
    </div>

    <div class="produit pb-5">
        <div class="optique">
            <a href="{{ path('catalogue') }}"><p class="categorie">Optique</p></a>
        </div>
           
        <div class="solaire">
         <a href="{{ path('catalogue') }}">  <p class="categorie">Solaire</p> </a>
          
        </div>
        <div class="capsule">
         <a href="{{ path('catalogue') }}"> <p class="categorie">Capsule</p> </a>
           
        </div>
    </div>
{% endblock %}
