{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Ajouter
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/produit_ajouter.css') }}">
{% endblock %}
{% block h1 %}Ajouter un  produit
{% endblock %}
{% block body %}
	<div class="wrapper">

		<div class="col-md-12 d-flex flex-row justify-content-around align-items-center my-5">

			<div class="col-md-5 mx-auto">
				{{ form_start(formProduit) }}
				<div class="col-md-12 text-white">{{ form_row(formProduit.nom) }}</div>
                    <div class="row">
                        <div class="col-md-6 text-white">{{ form_row(formProduit.ref) }}</div>
                        <div class="col-md-6 text-white">{{ form_row(formProduit.categorie) }}</div>
                        <div class="col-md-6 text-white">{{ form_row(formProduit.forme) }}</div>
                        <div class="col-md-6 text-white">{{ form_row(formProduit.couleur) }}</div>
                        <div class="col-md-6 text-white">{{ form_row(formProduit.taille) }}</div>
                        <div class="col-md-6 text-white">{{ form_row(formProduit.motif) }}</div>
                        <div class="col-md-6 text-white">{{ form_row(formProduit.prix_rev_ht) }}</div>
                        <div class="col-md-6 text-white">{{ form_row(formProduit.prix_pub_ttc) }}</div>
                        <div class="col-md-12 text-dark">
                        {{ form_row(formProduit.photo , {'attr' : {"onChange" : "loadFile(event)"}}
                            ) }}
                    </div>
				</div>
				
			</div>
			<div id="listPhoto" class="col-md-5 d-flex flex-wrap  mx-auto my-auto">

				{# <img id="photoProduit" class="col-md-5 mx-auto my-auto">
			 #}
			 </div>
        
		</div>
            <div class="col-md-10 mx-auto">
                <input type="submit" value="Ajouter" class="col-md-12 btn my-5">
            </div>
        {{ form_end(formProduit) }}

	</div>
	{% block javascripts %}
<script>
	var a = 0 ;
	loadFile = function (event) {
	let photoArray =event.target.files
	let div = document.querySelector("#listPhoto")
	
	for (i=0; i < photoArray.length; i++) {
		let img =document.createElement('img');
		id = "photo"+(a+i+1);
		img.setAttribute("id", id);
		div.appendChild(img);
		let image = document.getElementById(id);
		image.src = URL.createObjectURL(photoArray[i]);
	}
	// la variable "a" est globlale  on l'utilise pour ne pas écraser les photos si elles sont chargées un plusieurs fois
	a = a + photoArray.length

	}
</script>


	{% endblock %}

{% endblock %}
