{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Gestion {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/produit_afficher.css') }}">
{% endblock %}
{% block h1 %}Gestion produit{% endblock %}
{% block body %}

<div class="wrapper">
    <a class='btn btn-success' href="{{ path('produit_ajouter') }}">Ajouter un produit</a>

    {% for notification in app.flashes("succes") %}
    <div class="class col-md-6 mx-auto text-center alert alert-success">{{ notification }}</div>
        
    {% endfor %}

     {% if produits %} 


        <table class="table table-hover table-striped text-center mt-3">
            <thead class="bg-dark text-white">
                <tr>       
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Ref</th>
                    <th>Categorie</th>
                    <th>Forme (€)</th>
                    <th>Couleur</th>
                    <th>Taille</th>
                    <th>Motif</th>
                    <th>Prix rev HT </th>
                    <th>Prix pub TTC </th>
                    <th>photo</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                
                </tr>    
            </thead>

            <tbody>            
                {% for produit in produits %}
                    
                    <tr class="align-middle">
             
                        <td class="align-middle h5">{{ produit.id }}</td>
                        <td class="align-middle h5">{{ produit.nom }}</td>
                        <td class="align-middle h5">{{ produit.ref }}</td>
                        <td class="align-middle h5">{{ produit.categorie }}</td>                  
                        <td class="align-middle h5">{{ produit.forme }}</td>
                        <td class="align-middle h5">{{ produit.couleur }}</td>
                        <td class="align-middle h5">{{ produit.taille }}</td>
                        <td class="align-middle h5">{{ produit.motif }}</td>
                        <td class="align-middle h5">{{ produit.getPrixRevHt()}}</td>
                        <td class="align-middle h5">{{ produit.getPrixPubTtc() }}</td>
                       
                        <td class="align-middle"><img src="{{ asset("img/photoProduitUpload/" ~ produit.photoProduits[0].nom ) }}" alt="image du produit" style="width:80px"></td>
                        <td class="align-middle">
                            <a href="{{ path ('produit_modifier', {'id' : produit.id})}}">
                                <img src="{{ asset('img/icones/update.png') }}" alt=""  style="width:48px">
                            </a>
                        </td>

                        <td class="align-middle">
                            <a href="{{ path('produit_supprimer', {'id' : produit.id } ) }}" onclick="return confirm('Confirmez-vous la suppression de ce produit ?')">
                                <img src="{{ asset('img/icones/delete.png') }}" alt="">
                            </a>
                        </td>  
                    </tr>
                {% endfor %}          
            </tbody>              
        </table>


    {% else %}
        
        <h4 class="text-center text-danger mt-3 fst-italic">Il n'y a aucun produit pour le moment</h4>

    {% endif %}
     



</div>

{% endblock %}
