{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}| Ajouter {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/produit_ajouter.css') }}">
<link rel="stylesheet" href="{{ asset('css/dropzone.css') }}"/> 

{% endblock %}
{% block content %}

	
	<div class="wrapper">

		<div class="col-md-12 d-flex flex-sm-column flex-md-column flex-lg-row flex-sm-wrap justify-content-around align-items-center pt-5 my-5">
              {# ----------  section dropzone #}
                    <div id="listPhoto" class="col-md-12 col-lg-6 mx-auto my-auto">
                        <form action="{{ path('produit_ajouter') }}" class="dropzone col-md-12" id="dropzonewidget" type = "file" multiple ="multiple">
                            <div class="dz-message needsclick"> glisser les photos ici ou  cliquer pour télécharger.<br>
                            <span class="note needsclick">( la première servira de vignette)</span>
                            </div>
                            
                        </form>  
                    
                    </div>
                {# ----------  fin section dropzone #}

			<div class="col-lg-5 col-md-10 col-sm-10 mx-auto">
				{{ form_start(formProduit) }}
				          <div class="col-md-12 text-white">{{ form_row(formProduit.nom) }}</div>
                    <div class="row">
                        <div class="col-md-6 text-white ">{{ form_row(formProduit.ref) }}</div>
                        <div class="col-md-6 text-white">{{ form_row(formProduit.categorie) }}</div>
                        <div class="col-md-6 text-white">{{ form_row(formProduit.forme) }}</div>
                        <div class="col-md-6 text-white">{{ form_row(formProduit.couleur) }}</div>
                        <div class="col-md-6 text-white">{{ form_row(formProduit.taille) }}</div>
                        <div class="col-md-6 text-white">{{ form_row(formProduit.motif) }}</div>
                        <div class="col-md-6 text-white  text-nowrap" >{{ form_row(formProduit.prix_rev_ht) }}</div>
                    <div class="col-md-6 text-white text-nowrap">{{ form_row(formProduit.prix_pub_ttc) }}</div>
                    <div class="col-md-12 text-white">{{ form_row(formProduit.description) }}</div>
					</div>
                    
                    
			</div>
            <div class="col-lg-10 col-md-10  col-sm-10 mx-auto">
                        <input type="submit" value="Ajouter" class="col-lg-12 col-md-12  col-sm-12 mx-auto btn my-5">
                    </div>
                  {{ form_end(formProduit) }}
				 
				

              
				
    
		</div>
	</div>





{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/dropzone.js') }}"></script>
<script>
var pos = 1 // variable qui sera utilisée pour classer les photo

Dropzone.options.dropzonewidget = {
    maxFilesize: 2, // MB
    addRemoveLinks: true,
    parallelUploads: 5,
    preventDuplicates: true,
    dictDuplicateFile: "cette photo est déjà chargée",
    uploadMultiple:true,
    acceptedFiles: 'image/*',
    renameFile: function (file) { // rend unique le nom de la photo pour pouvoir supprimer un duplicate 
    let newName = pos + '_' + file.name;
    pos=pos+1
    Object.defineProperty(file, 'name', {
        value: newName
    })
    return newName;
    },  
    removedfile:function(file){ // fonction si supprimer
    console.log (file.name)
      let  name = file.name
        $.ajax({
          method:'post',
          url  :'ajouter',
          data : {name: name, remove: true},
          success: function (response){
            console.log ('removed success');
          }
       
        });
        let previewzone;
        return (previewzone = file.previewElement) != null ? previewzone.parentNode.removeChild(file.previewElement): void 0;

    }
   
  };
  

</script>

{% endblock %}