{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}| Admin presentation {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/presentation_admin.css') }}">
<link rel="stylesheet" href="{{ asset('css/dropzone.css') }}"/> 

{% endblock %}
{% block content %}


	<div class="wrapper">

		<div class="col-md-12 d-flex flex-sm-column flex-md-column flex-lg-row flex-sm-wrap justify-content-around align-items-center presentation">
              {# ----------  section dropzone #}
                    <div id="listPhoto" class="col-md-12 col-lg-6 mx-auto my-auto">
                        <form action="{{ path('produit_ajouter') }}" class="dropzone col-md-12" id="dropzonewidget" type = "file" multiple ="multiple">
                            <div class="dz-message needsclick"> glisser les photos ici ou  cliquer pour télécharger.<br>
                            <span class="note needsclick">( la première servira de vignette)</span>
                            </div>
                            
                        </form>  
                    
                    </div>
                {# ----------  fin section dropzone #}

			<div class="col-lg-5 col-md-10 col-sm-10 mx-auto">
				{{ form_start(formPresentation) }}
                  <div class="row">
                    <div class="col-12 text-white">{{ form_row(formPresentation.titre) }}</div>
                       {{ form_row(formPresentation.active) }}
                    <div class="col-12 text-white">{{ form_row(formPresentation.sstitre) }}</div>
                  </div>
                    <div class="col-md-12 text-white">{{ form_row(formPresentation.presentation) }}</div>
					</div>
                    
                    
			
                    <div class="col-lg-10 col-md-10  col-sm-10 mx-auto">
                        <input type="submit" value="Modifier" class="col-lg-12 col-md-12  col-sm-12 mx-auto btn  btn-secondary my-5">
                    </div>
                  {{ form_end(formPresentation) }}
				 
				
      </div>

    
		</div>
	</div>



  <textarea hidden name="" id="photo2js" cols="30" rows="10">{{ reloadPhoto }}</textarea>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/dropzone.js') }}"></script>
<script>
var reloadPhoto = JSON.parse(document.querySelector('#photo2js').value)
var assetDir = "{{ asset('img/photoLifeUpload/') }}"
var pos = 1 // variable qui sera utilisée pour classer les photos

Dropzone.options.dropzonewidget = {
    dictDefaultMessage: "Put your custom message here",
    maxFilesize: 8, // MB
    addRemoveLinks: true,
    parallelUploads: 5,
    preventDuplicates: true,
    dictDuplicateFile: "cette photo est déjà chargée",
    uploadMultiple:true,
    acceptedFiles: 'image/*',
    init: function() {
        //on initialise la dropZone avec les photos du produit 
        if (reloadPhoto) {
            var thisDropzone = this;
           
            $.each(reloadPhoto, function(key,value){ 

                var mockFile = { name: value.name, size: value.size };  

                thisDropzone.options.addedfile.call(thisDropzone, mockFile);

                thisDropzone.options.thumbnail.call(thisDropzone, mockFile, assetDir+value.name);

                thisDropzone.emit("complete", mockFile);
            });
        };          
        },
    renameFile: function (file) { // rend unique le nom de la photo pour pouvoir supprimer un duplicate 
    let newName = pos + '_' + file.name;
    pos=pos+1
    Object.defineProperty(file, 'name', {
        value: newName
    })
    return newName;
    },  
    removedfile:function(file){ // fonction si supprimer
      let  name = file.name
        $.ajax({ // on passe les valeurs à la route avec $ajax
          method:'post',
          url  :'',
          data : {name: name, remove: true},
          success: function (response){
            console.log ('removed success');
          }
        });
        //Dropzone.prototype.defaultOptions.dictDefaultMessage = "";
        let previewzone;
        return (previewzone = file.previewElement) != null ? previewzone.parentNode.removeChild(file.previewElement): void 0;
    } 
  };
  

</script>

{% endblock %}