<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="ODHUNE Artisan Créateur Lunétier crée et fabrique à ROUEN en France ">
		<meta name="keywords" content="lunette,lunettes,créateur,artisan,français,fabricant,France">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-title" content="ODHUNE">
		<meta name="apple-mobile-web-app-title" content="ODHUNE">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-9WDQGQT5LF"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-9WDQGQT5LF');
		</script>
		
		<title>
			{% block title %}odhune
			{% endblock %}
		</title>
		<script type="text/javascript" src="{{ asset("tarteaucitron.js") }}"></script>
		<script type="text/javascript">
			tarteaucitron.init({
				"privacyUrl": "http://s861930592.onlinehome.fr/odhune", /* Privacy policy url */

				"hashtag": "#tarteaucitron",
				/* Open the panel with this hashtag */
				"cookieName": "tarteaucitron",
				/* Cookie name */

				"orientation": "middle",
				/* Banner position (top - bottom) */

				"groupServices": false,
				/* Group services by category */

				"showAlertSmall": false,
				/* Show the small banner on bottom right */
				"cookieslist": false,
				/* Show the cookie list */

				"closePopup": false,
				/* Show a close X on the banner */

				"showIcon": true,
				/* Show cookie icon to manage cookies */
				//"iconSrc": "", /* Optionnal: URL or base64 encoded image */
				"iconPosition": "BottomRight",
				/* BottomRight, BottomLeft, TopRight and TopLeft */

				"adblocker": false,
				/* Show a Warning if an adblocker is detected */

				"DenyAllCta": true,
				/* Show the deny all button */
				"AcceptAllCta": true,
				/* Show the accept all button when highPrivacy on */
				"highPrivacy": true,
				/* HIGHLY RECOMMANDED Disable auto consent */

				"handleBrowserDNTRequest": false,
				/* If Do Not Track == 1, disallow all */

				"removeCredit": true,
				/* Remove credit link */
				"moreInfoLink": true,
				/* Show more info link */

				"useExternalCss": false,
				/* If false, the tarteaucitron.css file will be loaded */
				"useExternalJs": false,
				/* If false, the tarteaucitron.js file will be loaded */

				//"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

				"showIcon": false,
				/* Change the default readmore link */
				"readmoreLink": "",
				/* Change the default readmore link */

				"mandatory": true,
				/* Show a message about mandatory cookies */
			});
		</script>
		<script type="text/javascript">
			tarteaucitron.user.gtagUa = 'G-9WDQGQT5LF';
			// tarteaucitron.user.gtagCrossdomain = ['example.com', 'example2.com'];
			tarteaucitron.user.gtagMore = function() { /* add here your optionnal gtag() */ };
			(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
			(tarteaucitron.job = tarteaucitron.job || []).push('analytics');
			(tarteaucitron.job = tarteaucitron.job || []).push('instagram');
			(tarteaucitron.job = tarteaucitron.job || []).push('facebook');
			(tarteaucitron.job = tarteaucitron.job || []).push('twitter');
			(tarteaucitron.job = tarteaucitron.job || []).push('pinterest');
		</script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('css/tarteaucitron.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		


		<link rel="icon" href="{{ asset('img/icones/favicon_odhune.svg') }}"/>
		<link rel="apple-touch-icon" href="{{ asset('img/icones/favicon_odhune_appletouch.svg') }}"/> {% block stylesheets %}{% endblock %}

		</head>

		<body>
		
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-transparent">
  <div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">

					<li class="nav-item dropdown ">
						<a class="nav-link  px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">PRODUITS</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li class="nav-item">
								<a class="nav-link px-3" href="{{ path('optique') }}">OPTIQUES</a>
							</li>       
							<li class="nav-item">
								<a class="nav-link px-3"  href="{{ path('solaire') }}">SOLAIRES</a>
							</li>
							<li class="nav-item">
								<a class="nav-link  px-3"  href="{{ path('capsule') }}">CAPSULES</a>
							</li>
						</ul>
					</li>
				</ul>
			<ul class="navbar-nav ms-auto order-2">
				<li class="nav-item dropdown ">
					<a class="nav-link px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">A PROPOS</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li class="nav-item">
							<a class="nav-link  px-3" href="{{ path('nous') }}">NOUS</a>
						</li>       
						<li class="nav-item">
							<a class="nav-link px-3"  href="{{ path('magasin') }}">POINTS DE VENTE</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"   aria-expanded="false">
					{% if app.user %}
						{{ app.user.prenom|upper}}</a>
					{% else %}
						<i class="far fa-user"></i> </a>
					{% endif %}
					<ul class="dropdown-menu " aria-labelledby="navbarDropdown">
					
						{% if is_granted('ROLE_USER') %}
						
							<li><a class="nav-link" href="{{ path("profil") }}">PROFIL</a></li>
							<li><a class="nav-link" href="{{ path("deconnexion") }}">DECONNEXION</a></li>
							<li><hr class="dropdown-divider"></li>
							<li ><a class="nav-link" href="{{ path("live") }}">WATCH LIVE</a></li>
						
						{% else %}
						<li><a class="nav-link" href="{{ path("connexion") }}">CONNEXION</a></li>
						<li ><a class="nav-link" href = "{{ path('inscription') }}">INSCRIPTION</a></li>
						{% endif %}

						{% if is_granted('ROLE_ADMIN') %}
						<li><hr class="dropdown-divider"></li>
						<li class="nav-item"><a class="nav-link" href="{{ path('presentation_afficher') }}"> 'Nous'</a></li>

						<li class="nav-item"><a class="nav-link" href="{{ path('accueil_afficher') }}">Accueil</a></li>

						<li class="nav-item"><a class="nav-link" href="{{ path('produit_afficher') }}">Gérer les produits</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ path('produit_ajouter') }}">Ajouter produit</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ path('user_afficher') }}">Gérer les utilisateurs</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ path('back_office') }}">backoffice</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ path('broadcast') }}">Broadcast</a></li>
						{% endif %}
						
					</ul>
				</li>
			</ul>		
		</div>
		<ul class="navbar-nav">
			<li class=" nav-item mx-2">
					<a class="icone_panier nav-link"  href="{{ path('panier')}}"><i class="fas fa-shopping-cart">
					<i id="cart_items" class="badge"></i>
					</i></a>
			</li>
		</ul>
  </div>
</nav>


				<div class="col-12 mx-auto content"> 
				<div class="logo d-none d-lg-block"><a href="{{ path('accueil') }}">
				
				<img src="{{ asset('img/icones/ODHUNE-LOGO-NOIR.svg') }}" alt="logo" style='width:200px'></a>
				</div>
				{% block content %}{% endblock %}
				</div>
			
			
				{% set nb_item = app.session.get('panier_item') %}
			</div>
		</body>
	</html>
</div>

</body>


<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c6d0a84024.js" crossorigin="anonymous"></script>


<script>// display  CartItems
if (document.querySelector('#cart_items').innerHTML == "") {
document.querySelector('#cart_items').setAttribute('visibility', "hidden")
}
</script>

<script>
if (({{ nb_item }})) {
	let nbCartItems = {{ nb_item }}
	if (nbCartItems > 0) {
document.querySelector('#cart_items').innerHTML = nbCartItems
} else {
document.querySelector('#cart_items').innerHTML = ""
document.querySelector('#cart_items').setAttribute('visibility', "hidden")
}
}
</script>



{% block javascripts %}{% endblock %}

</html>
