<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}odhune{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{  asset('css/style.css')  }}">
        <link rel="icon" href="{{ asset('img/icones/favicon_odhune.svg') }}" />
        <link rel="apple-touch-icon" href="{{ asset('img/icones/favicon_odhune_appletouch.svg') }}" />
        {% block stylesheets %} {% endblock %}

    </head>

    <body>
        <div class="main">
            <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container-fluid">
                   
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">ODHUNE</span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="col-12 navbar-nav mx-auto mb-2 mb-lg-0 d-flex" style="">

                            <div class=" col-5 d-flex justify-content-start">

                                 <li class="nav-item dropdown dropend  mx-5">
                                     <a class="nav-link dropdown-toggle px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">PRODUITS</a>
                                   <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    
                                        <li class="nav-item">
                                            <a class="nav-link px-3" href="{{ path('optique') }}">OPTIQUES</a>
                                        </li>       
                                        <li class="nav-item">
                                            <a class="nav-link px-3"  href="{{ path('solaire') }}">SOLAIRES</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link  px-3"  href="{{ path('capsule') }}">CAPSULES</a>
                                        </li>
                                    </ul>
                                </li>

                               {% if app.user %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item dropdown dropend  admin">
                                    <a class="nav-link dropdown-toggle px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">ADMIN</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li class="nav-item"><a class="nav-link" href="{{ path('presentation_afficher') }}">presentations</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{{ path('produit_afficher') }}">Gérer les produits</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{{ path('produit_ajouter') }}">Ajouter produit</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{{ path('user_afficher') }}">Gérer les utilisateurs</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{{ path('back_office') }}">backoffice</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{{ path('broadcast') }}">Broadcast</a></li>
                            
                                    </ul>
                                </li>
                                {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-2 d-flex  flex-column justify-content-center align-items-center">
                                <a href="{{ path("accueil") }}">
                                    <li class="navbar-brand mx-3 d-md-none  d-sm-none d-lg-block">
                                        <img class = "mx-auto" src="{{ asset('img/icones/ODHUNE-LOGO-NOIR.svg') }}" style ="width:64px;" alt="logo">
                                    </li>
                                </a>
                            </div>                     
                            <div class=" col-5 d-flex  justify-content-end" style="height:50px">

                              <li class="nav-item dropdown dropstart mx-5">
                                     <a class="nav-link dropdown-toggle px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">A PROPOS</a>
                                   <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    
                                        <li class="nav-item">
                                            <a class="nav-link  px-3" href="{{ path('nous') }}">NOUS</a>
                                        </li>       
                                        <li class="nav-item">
                                            <a class="nav-link px-3"  href="{{ path('magasin') }}">POINTS DE VENTE</a>
                                        </li>
        
                                    </ul>
                                </li>
                             <li class="nav-item dropdown  x-5">
                                    <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"   aria-expanded="false">
                                    {% if app.user %}
                                          {{ app.user.prenom ~" "~ app.user.nom }}</a>
                                    {% else %}
                                        <i class="far fa-user"></i> </a>
                                    {% endif %}
                                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                                     
                                        
                                      
                                        {% if is_granted('ROLE_USER') %}
                                          
                                            <li class="nav-item"><a class="nav-link" href="{{ path("profil") }}">Profil</a></li>
                                             <li class="nav-item"><a class="nav-link" href="{{ path("deconnexion") }}">Deconnexion</a></li>
                                             <li><hr class="dropdown-divider"></li>
                                             <li class="nav-item"><a class="nav-link" href="{{ path("live") }}">Watch live</a></li>
                                           
                                           
                                         {% else %}
                                         <li class="nav-item"><a class="nav-link" href="{{ path("connexion") }}">Connexion</a></li>
                                         <li class="nav-item"><a class="nav-link" href = "{{ path('inscription') }}">Inscription</a></li>
                                         {% endif %}
                                       
                                       
                                        
                                    </ul>
                                </li>
                                <li class=" nav-item mx-2">
                                    <a class=" icone_panier nav-link"  href="{{ path('panier')}}"><i class="fas fa-shopping-cart">
                                    <i id="cart_items" class="badge"></i>
                                    </i></a>
                                </li>


                            </div>
                        </ul>

                    </div>
                </div>
            </nav>
   

    <div class="col-12 mx-auto content">
    
                {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="col-12 mx-auto d-flex  justify-content-between footer_container">
                <div class="contact col-4 d-flex justify-content-around">
                    <div class="mail col-6 d-flex flex-column justify-content-start align-items-center">
                        <div class="d-flex flex-column align-items-center">
                            <p class="mb-3">Une question ? un mot doux ?</p>
                            <a href="mailto:contact@odhune.com">CONTACT@ODHUNE.COM</a>
                        </div>
                        <div>
                            <a href=""> ESPACE OPTICIEN</a>
                        </div>
                    </div>
                    <div class="col-6 reseaux  d-flex flex-column"> 
                        <p>NOUS SUIVRE</p>
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <a class="mx-2" href="https://www.facebook.com/Odhunelunettes"  target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a class="mx-2" href="https://www.facebook.com/Odhunelunettes"  target="_blank">
                            <i class="fab fa-instagram-square"></i>
                            </a>
                            <a  class="mx-2" href="https://twitter.com/ODHUNE_"  target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="rigp col-4 d-flex flex-column justify-content-center align-items-center">
                    <img class="logo_footer mx-auto" src="{{ asset('img/icones/ODHUNE-LOGO-NOIR.svg') }}" alt="">
                    <a href="#">mentions légales &#169 ODHUNE </a>
                </div>
                <div class="liens col-4 d-flex justify-content-around">
                    <p class="produits d-flex flex-column  ">PRODUITS
                        <a class ="fw-normal" href="{{ path('optique') }}">OPTIQUES</a>
                        <a class ="fw-normal" href="{{ path('solaire') }}">SOLAIRES</a>
                        <a class ="fw-normal" href="{{ path('capsule') }}">CAPSULES</a>
                
                    </p>
                    <p class="produits d-flex flex-column">A PROPOS
                        <a class ="fw-normal" href="{{ path('nous') }}">NOUS</a>
                        <a class ="fw-normal" href="{{ path('magasin') }}">POINTS DE VENTE</a>
                    </p
                
                </div>

        </div>

            </footer>
                {% set nb_item = app.session.get('panier_item') %}
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c6d0a84024.js" crossorigin="anonymous"></script>
    <script>
    if (document.querySelector('#cart_items').innerHTML == "") {document.querySelector('#cart_items').setAttribute('visibility',"hidden")}
    </script>
    <script>
   
    </script>

    <script>

    let nbCartItems = {{ nb_item }}
      console.log ( {{ nb_item }} )
    
       


        if (nbCartItems>0){document.querySelector('#cart_items').innerHTML=nbCartItems}
        else{
            document.querySelector('#cart_items').innerHTML=""
            document.querySelector('#cart_items').setAttribute('visibility',"hidden")
            }

    
   
    </script>
    {% block javascripts %}

    
    
    {% endblock %}
   
</html>
