{% extends "base.html.twig" %}
{% block title %}{{ parent() }} | Profil{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/profil.css') }}">{% endblock %}
{% block h1 %}Profil{% endblock %}
{% block content %}

      	<div class="col-12 d-flex flex-lg-row flex-column ">
			<div class="col-lg-7 col-12">
       
                        <img id ="slideShow" class="d-block w-100" src="{{ asset('img/photoProduitUpload/61dd68be28846-20220111112342-Monture-Bouture-E-Modele-2.png') }}"  alt="">
                    
                    </div>
                       
        
             <div class=" col-lg-3 col-sm-8 mx-auto my-5 d-flex flex-column justify-content-center">
                    {{form_start(formPassword)}}

                    {{form_label(formPassword.oldPassword)}}
                    <div class='col-12 input-group mb-3'>
					{{ form_widget(formPassword.oldPassword, {'attr' : {"data-toggle" : "password"}}) }}
					<span class="input-group-text bg-white">
						<i class="fa fa-eye"></i>
					</span>
				    </div>
                     {{form_label(formPassword.newPassword)}}
                    <div class='col-12 input-group mb-3'>
					{{ form_widget(formPassword.newPassword, {'attr' : {"data-toggle" : "password"}}) }}
					<span class="input-group-text bg-white">
						<i class="fa fa-eye"></i>
					</span>
				    </div>
                     {{form_label(formPassword.confirmPassword)}}
                    <div class='col-12 input-group mb-3'>
					{{ form_widget(formPassword.confirmPassword, {'attr' : {"data-toggle" : "password"}}) }}
					<span class="input-group-text bg-white">
						<i class="fa fa-eye"></i>
					</span>
				    </div>

                    <input type="submit" value ="modifier" class="btn btn-secondary col-12 mt-3 mb-5">
                    {{form_end(formPassword)}}
                </div>

        </div>
    
    <textarea name="" hidden id="photos" cols="30" rows="10">{{photos}}</textarea>
{% endblock %}

{% block javascripts %}
<script>

var photos = JSON.parse(document.querySelector('#photos').innerHTML)

nbphotos = photos.length
setInterval("photoShow()", 5000);

function photoShow(){
   
    let position = Math.trunc(Math.random()* (nbphotos))
    let nomPhoto = photos[position]
    let cheminPhoto =  "{{ asset('img/photoProduitUpload/') }}"

     document.getElementById('slideShow').setAttribute('src', cheminPhoto + nomPhoto)




}



</script>
</script>
    <script  src="{{ asset("js/bootstrap-show-password.min.js") }}"></script>

{% endblock %}
