{% extends "base.html.twig" %}
{% block title %}{{ parent() }} | Profil{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/profil.css') }}">{% endblock %}
{% block h1 %}Profil{% endblock %}
{% block content %}



       <div class="wrapper col-12 d-flex flex-lg-row flex-column ">
               <div class="col-lg-7 col-12">
       
                        <img id ="slideShow" class="d-block w-100" src="{{ asset('img/photoProduitUpload/61dd68be28846-20220111112342-Monture-Bouture-E-Modele-2.png') }}"  alt="">
                    
                    </div>
                       
        
                 <div class=" col-lg-3 col-sm-6 mb-5 mx-auto d-flex flex-column justify-content-center">
                    {{ form_start(formUser) }}
                            {{ form_row(formUser.email) }}
                            {{ form_row(formUser.prenom) }}
                            {{ form_row(formUser.nom) }}

                            <input type="submit" value="Modifier" class="btn col-12  mt-3">

                    {{ form_end(formUser) }}
             </div>

        </div>

    <textarea name="" hidden id="photos" cols="30" rows="10">{{photos}}</textarea>
{% endblock %}

{% block javascripts %}
<script>

var photos = JSON.parse(document.querySelector('#photos').innerHTML)

nbphotos = photos.length
setInterval("photoShow()", 5000);

function photoShow(){
   
    let position = Math.trunc(Math.random()* (nbphotos))
    let nomPhoto = photos[position]
    let cheminPhoto =  "{{ asset('img/photoProduitUpload/') }}"

     document.getElementById('slideShow').setAttribute('src', cheminPhoto + nomPhoto)




}



</script>

{% endblock %}
