{% extends "base.html.twig" %}
{% block title %}{{ parent() }} | live{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/broadcast.css') }}">{% endblock %}
{% block h1 %}Live{% endblock %}
{% block content %}


    <div class="wrapper">

        <div class="broadcast d-flex flex-column align-items-center"  >
            <div class="video  col-lg-6 col-12">
                <video class="col-12 mx-auto" playsinline autoplay></video>
            </div>
            
                <div class="messages col-lg-6 col-12 " ></div>
          
            <div class=" message col-lg-6 col-12 d-flex">
                <input class=" inputMessage col-10" placeholder="message.. taper sur ENTER ou click sur ENVOI.">
                <button id ="envoi" class = "btn btn-secondary col-2">envoi</button>
            </div>

        </div>
    

    
    </div>

    <textarea  hidden name="" id="user2js" cols="30" rows="10"></textarea>


        
{% endblock %}

{% block javascripts %}

<script>
let user ={
    user_id : '{{ app.user.id }}',
    prenom : '{{ app.user.prenom }}',
    nom : '{{ app.user.nom }}',
    email : '{{ app.user.email }}'
}
console.log (user)
 let userstr =  JSON.stringify(user);
  document.querySelector('#user2js').value = userstr
  
</script> 
<script src="https://inspiring-nash.185-13-64-120.plesk.page/node_modules/socket.io/client-dist/socket.io.js"></script> 
<script defer src="{{ asset('js/recortRTC.js') }}"></script>
<script defer src="{{ asset('js/watch.js') }}"></script>

<script>
 message = document.querySelector(".message");
 messages = document.querySelector(".messages");
 video = document.querySelector(".video");

</script>

{% endblock %}
