{% extends "base.html.twig" %}
{% block title %}{{ parent() }} | live{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/broadcast.css') }}">{% endblock %}
{% block h1 %}Live{% endblock %}
{% block content %}


    <div class="wrapper">

        <div class="broadcast col-12 d-flex flex-lg-row flex-column justify-content-start"  >
            <div class="video col-lg-7 col-11 mx-auto">
                <video class="col-12" playsinline autoplay controls></video>
            </div>
            <div  class="chatArea col-lg-3  col-12 mx-auto">
                <div class="input-group">
                    <input class=" inputMessage form-control" placeholder="message.. taper sur ENTER ou click sur ENVOI.">
                    <button id ="envoi" class = "btn btn-secondary">envoi</button>
                </div>
                <div class="messages" ></div>
            </div>

        </div>
    
    
    
    </div>

    <textarea  hidden name="" id="user2js" cols="30" rows="10"></textarea>


        
{% endblock %}

{% block javascripts %}

<script>
let user ={
    user_id : '{{ app.user.id }}',
    prenom : '{{ app.user.prenom }}',
    nom : '{{ app.user.nom }}',
    email : '{{ app.user.email }}'
}
console.log (user)
 let userstr =  JSON.stringify(user);
  document.querySelector('#user2js').value = userstr
  
</script> 
<script src="https://inspiring-nash.185-13-64-120.plesk.page/node_modules/socket.io/client-dist/socket.io.js"></script> 
<script defer src="{{ asset('js/recortRTC.js') }}"></script>
<script defer src="{{ asset('js/watch.js') }}"></script>

{% endblock %}
